@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Ensure better visibility in dark mode for input placeholders */
.dark input::placeholder,
.dark select::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.dark input:focus::placeholder,
.dark select:focus::placeholder {
  color: rgba(255, 255, 255, 0.5);
}


@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.5);
    border-radius: 20px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(156, 163, 175, 0.7);
  }
}
